/* You can add global styles to this file, and also import other style files */

body {
}
a {
  text-decoration: none;
  font-size: 2em;
}

.selected {
  font-weight: bold !important;
  color: red;
}
