<div class="calculator">
  <h3>Calculator</h3>
  <div class="displayPanel">
    <div class="current">
      {{ current | number }}
    </div>
    <div class="accumulator">
      {{ accumulator | number }}
    </div>
  </div>
  <div class="inputPanel">
    <div *ngFor="let row of layout" class="row">
      <app-calc-btn *ngFor="let button of row"
        (keyEmitted)="keyReceived($event)"
        [value]="button.value"
        [action]="button.action"
        [span]="button.span"></app-calc-btn>
    </div>
  </div>
</div>

<div class="debug">
  <pre>{{ [ 'accumulator: ', accumulator,
            'current: ', current,
            'memory: ', memory,
            'lastAction', lastAction ] | json }}</pre>
</div>
