$maxWidth: 415px;

h3 {
  font-size: 3em;
}
div {
  margin: 0;
  padding: 0;
}

.inputPanel {
  height: auto;
  width: $maxWidth;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  border: 2px solid red;
}

.displayPanel {
  font-size: 25pt;
  padding: 5px;
  width: $maxWidth;
  height: 50px;
  border: 2px solid blue;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  .current {
    float: left;
  }
  .accumulator {
    float: right;
  }
}

.calculator {
  float: left;
  padding-right: 20px;
}

.debug {
  width: $maxWidth;
  font-size: 2em;
  float: right;

}
